@charset "utf-8";
$mainColor-1: #33afe9;
$mainColor-2: #c1e7f8;
$bgColor: #f4f4f4;
$footerColor-1: #7e8285;
$fontColor-1: #222;
$fontColor-2: #555;
$fontColor-3: #060606;
$boarderColor-1: #d8d8d8;
$width-1: 1096px;
