@charset "utf-8";
@import url('../css/reset.css');
@import 'design';

body {
  font: 14px /1.3 verdana, Malgun Gothic, '맑은고딕', appleGothic, sans-serif;
  color: $fontColor-1;
  min-width: 360px;
}
#header-wrap {
  .header-inner {
    width: $width-1;
    height: 107px;
    margin: 0 auto;
    position: relative;
  }
}
