@charset "utf-8";
@import url('../css/reset.css');
@import 'design';

body {
  font: 14px /1.3 verdana, Malgun Gothic, '맑은고딕', appleGothic, sans-serif;
  color: $fontColor-1;
  min-width: 360px;
}
#header-wrap {
  position: relative;
  z-index: 100;
  .header-inner {
    width: $width-1;
    height: 107px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    .logo {
      position: absolute;
      top: 39px;
      left: 19px;
    }
    .util-menu {
      position: absolute;
      top: 44px;
      right: 26px;

      > li {
        float: left;
        .btn-allmenu {
          position: relative;
          z-index: 501;
        }
        &.lang {
          margin-right: 20px;
          a {
            position: relative;
            display: inline-block;
            font-size: 12px;
            &::before {
              display: inline-block;
              position: absolute;
              top: 0;
              left: -28px;
              content: '';
              width: 18px;
              height: 17px;
              background: url('../image/common/icon-lang-1.png') no-repeat 0 0;
              vertical-align: middle;
            }
          }
        }
      }
      .allmenu-wrap {
        position: fixed;
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #999;
        z-index: 500;
        .allmenu {
          width: 100%;
          height: 100%;
          border: 1px solid #000;
          overflow: hidden;
          > li {
            width: 20%;
            height: 100%;
            float: left;
            ~ li {
              border-left: 1px solid #ccc;
            }

            > div {
              height: 100%;
              width: 0;
              overflow: hidden;
              background-color: #fff;
              transition: width 0.8s ease-in;
              white-space: nowrap;
            }
          }
        }
      }
      a {
        &.on {
          + .allmenu-wrap {
            display: block;
            .allmenu {
              > li {
                div {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
#gnb {
  width: 658px;
  position: absolute;
  top: 0;
  left: 204px;
  text-align: center;
  > li {
    position: relative;
    float: left;
    width: 20%;
    &:nth-child(4) {
      > a {
        &.on {
          &::after {
            width: 80px;
          }
        }
      }
    }
    > a {
      display: block;
      font-size: 15px;
      font-weight: bold;
      height: 107px;
      line-height: 107px;
      transition: all 0.1s ease-in;
      position: relative;
      &::after {
        content: '';
        width: 0;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 50%;
        top: 66px;
        transform: translateX(-50%);
        transition: all 0.3s ease-in;
      }
      &.on {
        background-color: $mainColor-1;
        color: #fff;
        &::after {
          width: 60px;
        }
        + ul {
          a {
            color: #fff !important;
          }
          &::before {
            height: 100%;
          }
        }
      }
    }
  }
  ul {
    display: none;
    position: absolute;
    top: 107px;
    left: 0;
    width: 100%;
    height: 310px; //310px
    overflow: hidden;
    background-color: #fff;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 0;
      background-color: $mainColor-1;
      transition: height 0.8s ease-in;
    }
    > li {
      > a {
        display: block;
        padding: 8px;
        color: $fontColor-2;
        position: relative;
        z-index: 2;
        transition: color 0.8s ease-in;
      }
    }
  }
}
#container {
  .main-row-1 {
    width: $width-1;
    margin: 0 auto;
    max-height: 574px;
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;
    .slick-dots {
      position: absolute;
      bottom: 60px;
      left: 0;
      li {
        width: 100px;
        height: 6px;
        &.slick-active {
          button {
            background-color: $mainColor-1;
          }
        }
        button {
          width: 100%;
          height: 100%;
          background-color: #dfeed7;
          &::before {
            display: none;
          }
        }
      }
    }
  }
  .main-row-2 {
    width: $width-1;
    margin: 0 auto;
    .main-row-inner-2 {
      overflow: hidden;
      .product-list-1 {
        float: left;
        width: 538px;
        height: 588px;
        background-color: #f4f4f4;
        border-radius: 14px;
        overflow: hidden;
        text-align: center;
        font-size: 13px;
        padding-top: 80px;
        a {
          .info-1 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 3px;
          }
          .info-2 {
            font-size: 11px;
            margin-bottom: 17px;
          }
        }
      }
      .product-list-2 {
        float: right;
        width: 538px;
        height: 588px;
        li {
          float: left;
          width: 50%;
          text-align: center;
        }
      }
    }
  }
}
